
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>StockVision</title>
  <link href="{% static 'vendors/iconfonts/font-awesome/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendors/css/vendor.bundle.base.css' %}" rel="stylesheet">
  <link href="{% static 'vendors/css/vendor.bundle.addons.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <script src="{% static 'js/main.js' %}"></script>
  <link rel="shortcut icon" href="http://www.urbanui.com/" />
</head>
<body>
  <div class="container-scroller">
    <main>
        {% block content %}
        {% endblock %}
    </main>
  </div>
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'vendors/js/vendor.bundle.addons.js' %}"></script>
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/misc.js' %}"></script>
  <script src="{% static 'js/settings.js' %}"></script>
  <script src="{% static 'js/todolist.js' %}"></script>
  <script src="{% static 'js/dashboard.js' %}"></script>
  <script src="{% static 'js/data-table.js' %}"></script>
  <script src="{% static 'js/alerts.js' %}"></script>
  <script src="{% static 'js/avgrund.js' %}"></script>
  <script src="{% static 'js/file-upload.js' %}"></script>
  <script src="{% static 'js/typeahead.js' %}"></script>
  <script src="{% static 'js/select2.js' %}"></script>
  <script src="{% static 'js/toastDemo.js' %}"></script>
  <script src="{% static 'js/desktop-notification.js' %}"></script>
  <script src="{% static 'js/formpickers.js' %}"></script>
  <script src="{% static 'js/form-addons.js' %}"></script>
  <script src="{% static 'js/x-editable.js' %}"></script>
  <script src="{% static 'js/dropify.js' %}"></script>
  <script src="{% static 'js/dropzone.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload.js' %}"></script>
  <script src="{% static 'js/form-repeater.js' %}"></script>

</body>
</body>
</html>

