{% extends 'base.html' %} {% block content %}
<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
      <div class="row flex-grow">
        <div class="col-lg-6 d-flex align-items-center justify-content-center">
          <div class="auth-form-transparent text-left p-3">
            <h3>StockVision <span class="text-danger">AI</span></h3>
            <p class="text-muted"><i>Smart Stocking, Smarter Decisions.</i></p>

            <h5>Welcome back!</h5>

            <form id="loginForm" class="pt-3">
              {% csrf_token %}
              <div class="form-group">
                <label for="exampleInputEmail">Username</label>
                <div class="input-group">
                  <div class="input-group-prepend bg-transparent">
                    <span
                      class="input-group-text bg-transparent border-right-0"
                    >
                      <i class="fa fa-user text-primary"></i>
                    </span>
                  </div>
                  <input
                    type="text"
                    name="username"
                    class="form-control form-control-lg border-left-0"
                    id="exampleInputEmail"
                    placeholder="Username"
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword">Password</label>
                <div class="input-group">
                  <div class="input-group-prepend bg-transparent">
                    <span
                      class="input-group-text bg-transparent border-right-0"
                    >
                      <i class="fa fa-lock text-primary"></i>
                    </span>
                  </div>
                  <input
                    type="password"
                    name="password"
                    class="form-control form-control-lg border-left-0"
                    id="exampleInputPassword"
                    placeholder="Password"
                  />
                </div>
              </div>

              <div
                class="jumping-dots-loader"
                id="loading_sign"
                style="display: none"
                class="alert alert-success mt-3 form-control"
              >
                <span></span>
                <span></span>
                <span></span>
              </div>

              <!-- Error message display -->
              <div
                id="error-message"
                class="alert alert-danger d-none"
                role="alert"
              ></div>

              <div class="my-3">
                <button
                  type="submit"
                  class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
                >
                  LOGIN
                </button>
              </div>

              <div class="text-center mt-4 font-weight-light">
                Are you a System Administrator?
                <a
                  href="/admin"
                  target="_blank"
                  class="text-primary font-weight-bold"
                  >Access Admin Panel</a
                >
              </div>
            </form>

            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
              $(document).ready(function () {
                $("#loginForm").submit(function (e) {
                  $("#loading_sign").show();
                  e.preventDefault(); // Prevent default form submission

                  let formData = $(this).serialize(); // Serialize form data

                  $.ajax({
                    type: "POST",
                    url: "{% url 'home' %}", // Update with the correct URL name for the login view
                    data: formData,
                    dataType: "json",
                    headers: { "X-Requested-With": "XMLHttpRequest" },
                    success: function (response) {
                      if (response.status === "success") {
                        $("#loading_sign").hide();
                        window.location.href = response.redirect_url; // Redirect to dashboard
                      }
                    },
                    error: function (xhr) {
                      $("#loading_sign").hide();
                      let errorMessage =
                        xhr.responseJSON?.message ||
                        "An error occurred. Please try again.";
                      $("#error-message")
                        .text(errorMessage)
                        .removeClass("d-none"); // Show error message
                    },
                  });
                });
              });
            </script>
          </div>
        </div>
        <div class="col-lg-6 login-half-bg d-flex flex-row">
          <p
            class="text-white font-weight-medium text-center flex-grow align-self-end"
          ></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
